@model OxyProcess.Models.GroupsViewModels.AddGroupViewModel
@{
    ViewData["Title"] = "Pending Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">*@
<style>

    .error-group {
        color: red;
    }
</style>
<div class="container-fluid">
    <!-- Start Page Content -->

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class=" row">
                        <div class="col-md-12">
                            <h2 class="heading">Access Requests</h2>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="hed-table">
                                <h2 class="">List Of Requests</h2>
                            </div>
                            <div class="table-responsive m-t-40 group-tabel">
                                <table id="myTable" class="table table-bordered " style="width:100% !important;">
                                    <thead>
                                        <tr>
                                            <th>Tag Number</th>
                                            <th>Template</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Column -->

    </div>

    <!-- End PAge Content -->
</div>
@section Scripts{

    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    @*<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js'></script>*@
    <script src="~/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/js/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript">









        $(document).ready(function () {




            $.ajax({
                type: "GET",
                url: "@Url.Action("PendingRequestList", "AccessRequest")",
                "dataType": "json",
                success: function (data) {
                    datatableVariable = $('#myTable').DataTable({
                         "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $('td', nRow).css('background-color', 'white');
                        },

                        "order": [[3, "desc"]],
                          'columnDefs': [{


        'targets': [2], // column index (start from 0)
        'orderable': false, // set orderable false for selected columns
                        }, {

                                "targets": [3],
                                "visible": false,
                                "searchable": false
                            },


                        ],
                        destroy: true,
                        data: data.data,


                        columns: [
                           
                            {

                                'data': "tag",
                                'render': function (data) {

                                    return "<span class='limittext'>" + data + "</span>"

                                }
                            },

                            {

                                'data': "templateName",
                                'render': function (data) {

                                    return "<span class='limittext'>" + data + "</span>"

                                }
                            },

                            {

                                'data': "accessPermission",
                                'render': function (data, type, row) {


                                    if (row["reject"] == true) {
                                        return "<span class='limittext'  style='color:red'> Rejected </span>";
                                    }

                                    else{
                                        return data === true ? "<span class='limittext' style='color:green'> Access Granted </span>" : "<span class='limittext'  style='color:#d8a516'> Pending </span>";
                                    }
                                }
                            },
                            
                             {
                                 'data': "id",
                            }
                        ]
                    });
                }
            });

        });

        var simple_checkbox = function (data, type, full, meta) {
            debugger
            var is_checked = data == true ? "checked" : "";
            var id = full['id'];
            return '<input type="checkbox" value="' + id + '" class="checkbox disabled"' +
                is_checked + ' />';
        }




            $(document).on('change', '.checkbox ', function () {
            var $this = $(this);
            var bools = $this.is(':checked');
            var task = "Suspend";
            if (bools === false) {


                task = " you sure you want to Cancel Access.!";
            }
            else {

                task = "you sure you want to Grant Access.";
            }
            swal({
                title: 'Are you sure?',
                text: task,
                type: 'warning',
                showCancelButton: true,
                 allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                closeOnConfirm: false,
                closeOnCancel: false

            }).then(function (dismiss) {
                if (dismiss.dismiss === 'cancel') {

                     var bool = $this.is(':checked');
                    var id = $this.val();
                    if (bool === true) {
                        $this.prop('checked', false);
                    }
                    else {

                        $this.prop('checked', true);
                    }
                } else {

                    var bool = $this.is(':checked');
                    var id = $this.val();



                    $.ajax({
                        url: '@Url.Action("ChangePermission", "AccessRequest")',
                        dataType: 'json',
                        type: "POST",
                        data: { Id: id, change: bool },
                        success: function (result) {

                            if (result === "False") {
                                alert("Something Worng !");
                            }
                        },
                        error: function (result) {
                            alert("Failed");
                        }
                    });
                }
            });
            });




    </script>


}
