@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Reset Email confirmation</title>
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <style type="text/css">
        .login-form h5 {
            text-align: center;
            margin: 63px 0;
        }

        .login-form h5 {
            text-align: center;
            margin: 28px 0 30px;
        }

        .login-form p i {
            font-size: 64px;
            color: green;
            text-align: center;
        }

        .login-form p {
            text-align: center;
        }
    </style>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h3>OXY PROCESS</h3>
                                @{
                                    if (ViewData["message"] != null)
                                    {
                                        <h5>
                                            @ViewData["message"]
                                        </h5>
                                        <p><i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i></p>
                                    }
                                    else
                                    {
                                        <h5>
                                            Your email change confirmation link has been send on Your new email address.
                                        </h5>
                                        <h5>
                                            please verify to change your email.
                                        </h5>
                                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p>
                                        <a href="@Url.Action("Index","UserSetting")" class="btn btn-primary">Back</a>
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
    </div>
    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    @section Scripts{
        @if (ViewData["UserAllReadyTaken"] != null)
        {
            @if (ViewData["UserAllReadyTaken"].ToString() == "true")
            {
                <script>
                    swal("Email is already taken please try another email.", "", "error");
                </script>

            }
        }

    }
</body>
</html>