@model ResetProfilePasswordViewModel
@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Reset password</title>


    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <style type="text/css">
        .login-form h5 {
            text-align: center;
            margin: 63px 0;
        }

        .login-form h5 {
            text-align: center;
            margin: 48px 0 30px;
        }

        .login-form p i {
            font-size: 64px;
            color: green;
            text-align: center;
        }

        .login-form p {
            text-align: center;
        }

        .error{

        color:red !important
    }
    </style>

</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="login-content card">
                <div class="login-form">
                    <h3>OXY PROCESS</h3>
                    <h4>Reset Password</h4>
                    <form id="passform" method="post">
                        <span class="text-danger" id="error"></span>
                        <input asp-for="Code" type="hidden" />
                     
                        <div class="form-group">
                            <input type="hidden" asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Old Password">Old password</label>
                            <input asp-for="OldPassword" class="form-control" value="" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="New Password">New password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Re-enter new password</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-12 col-xs-12 justify-content-center">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <a href="@Url.Action("Index","UserSetting")" class="btn btn-primary">Back</a>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js'></script>

    @if (Model != null)
    {
        <script>
            $("#error").text('@Model.ErrorMessage');
        </script>
    }


    <script>


        $(function () {


            errorClass: 'error',
            $('#passforwm').validate({
                rules:
                {

                    OldPassword: {
                        required: true
                    },

               

                Password: {

                    required: true ,

                },


                ConfirmPassword: {

                     required: true 
                    }

                 },
                message: {
                    OldPassword: {
                        required: "Please enter Old Password.",
                    },
                    Password: {
                        required: "Please enter Password.",
                    },
                    ConfirmPassword: {
                        required: "Please enter Confirm Password.",
                    },

                },


            });



        });

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>

